﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/.vs/Pakiza
/src/.vs/ProjectEvaluation
/src/BuildingBlocks/BuildingBlocks/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks/obj
/src/BuildingBlocks/BuildingBlocks.Messaging/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks.Messaging/obj
/src/Core/Pakiza.Application/bin/Debug/net8.0
/src/Core/Pakiza.Application/obj
/src/Core/Pakiza.Domain/bin/Debug/net8.0
/src/Core/Pakiza.Domain/obj
/src/Infrastructure/Pakiza.Infrastructure/bin/Debug/net8.0
/src/Infrastructure/Pakiza.Infrastructure/obj
/src/Infrastructure/Pakiza.Persistence/bin/Debug/net8.0
/src/Infrastructure/Pakiza.Persistence/obj
/src/Presentation/Pakiza.API/bin/Debug/net8.0
/src/Presentation/Pakiza.API/obj
/src/Presentation/Pakiza.Web/bin/Debug/net8.0
/src/Presentation/Pakiza.Web/obj
